
.idea/libraries/

generated/

project/target/config-classes/

project/

target/

project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/

project/target/streams/_global/_global/_global/streams/

project/target/streams/_global/_global/csrLogger/_global/streams/

project/target/streams/_global/csrConfiguration/_global/streams/

project/target/streams/_global/csrProject/_global/streams/

project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/

project/target/streams/_global/ivyConfiguration/_global/streams/

project/target/streams/_global/ivySbt/_global/streams/

project/target/streams/_global/moduleSettings/_global/streams/

project/target/streams/_global/projectDescriptors/_global/streams/

project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/

project/target/streams/_global/update/_global/streams/

project/target/streams/compile/_global/_global/compileBinaryFileInputs/

project/target/streams/compile/_global/_global/compileOutputs/

project/target/streams/compile/_global/_global/compileSourceFileInputs/

project/target/streams/compile/_global/_global/dependencyClasspathFiles/

project/target/streams/compile/_global/_global/discoveredMainClasses/

project/target/streams/compile/_global/_global/managedSourcePaths/

project/target/streams/compile/compile/_global/streams/

.idea/

project/target/streams/compile/copyResources/_global/streams/

project/target/streams/compile/exportedProducts/_global/streams/

project/target/streams/compile/externalDependencyClasspath/_global/streams/

project/target/streams/compile/internalDependencyClasspath/_global/streams/

project/target/streams/compile/managedClasspath/_global/streams/

project/target/streams/compile/unmanagedClasspath/_global/streams/

target/streams/test/runMain/_global/streams/

target/streams/test/packageBin/_global/streams/

target/streams/test/managedClasspath/_global/streams/

target/streams/test/mainClass/_global/streams/
